@import url("https://fonts.googleapis.com/css2?family=Bevan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bevan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");
html {
  background-color: #1a1a1e;
  color: #dfdfdf;
  font-family: "Bevan";
}

*:focus {
  outline: none;
}

body > iframe {
  display: none !important;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #input {
  margin-bottom: 0.5rem;
}

main #input form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #input form input {
  border: 1px solid transparent;
  font-family: "Quattrocento";
  padding: 0.8rem 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  border-radius: 0.3rem;
  background-color: #27282b;
  color: #dfdfdf;
  font-size: 18px;
  margin-right: 5px;
}

main #input form input:focus {
  border: 1px dashed #dfdfdf;
}

main #input form button {
  font-family: "Bevan" !important;
  border-style: none;
  border-radius: 8px;
  height: auto;
  width: auto;
  margin: 0px 5px 0px 2px;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
  color: #27282b;
  border-radius: 8px;
  background-color: #169ca7;
}

main #input form button:hover {
  background-color: #16bdca;
}

main #input p {
  font-size: inherit;
  font-family: "Quattrocento";
}

main #input p button {
  color: #169ca7;
  background-color: inherit;
  border: none;
}

main #input p button:hover {
  text-decoration: underline;
}

main .display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  padding: 1rem 0 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 40rem;
}

main .display .image-div, main .display .error-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
  width: 200px;
  min-height: 200px;
  min-width: 200px;
}

main .display .image-div p, main .display .error-div p {
  text-align: center;
}

main .display .image-div #image, main .display .error-div #image {
  max-height: 190px;
  max-width: 190px;
  border-radius: 5%;
  overflow: hidden;
}

main .display table {
  border-collapse: collapse;
  border-spacing: 0;
}

main .display table tr {
  padding: 5px;
  min-width: 75px;
  text-align: center;
}

main .display table tr td {
  padding: 0.3rem 2.5rem;
  font-family: "Quattrocento";
  font-size: 14px;
  color: #dfdfdf;
}

img {
  inset: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 190px;
  height: 190px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.b-solid {
  border: 1px solid #169ca7;
}

.b-dashed {
  border: 1px dashed #169ca7;
}

.bb-dashed {
  border-bottom: 1px dashed #169ca7;
}

.bb-solid {
  border-bottom: 1px solid #169ca7;
}

.error {
  border: 1px dashed red;
}

.bb-error {
  border-bottom: 1px dashed red;
}

.error-div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.error-div p {
  font-family: "Quattrocento" !important;
  font-size: 14px;
  color: #dfdfdf;
}

.error-div button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-decoration: none;
  border-style: none;
  border-radius: 8px;
  height: auto;
  width: auto;
  margin: 5px auto;
  color: #27282b;
  padding: 10px;
  font-size: 12px;
  font-family: "Bevan";
  background-color: red;
  opacity: 0.8;
}

.error-div button:hover {
  opacity: 1;
}
