@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
$background-color:#1A1A1E;
$colors:(
"font":#dfdfdf,
"font-secondary":#dfdfcd,
"secondary":#169ca7,
"hovered":#16bdca,
);
$main-font:'Bevan';
$secondary-font:'Quattrocento', serif;