@import url("https://fonts.googleapis.com/css2?family=Bevan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");

$colors: (
  "bg": #1a1a1e,
  "semi-light-bg": #27282b,
  "main": #169ca7,
  "font": #dfdfdf,
  "font-secondary": #c0c0c0,
  "font-tertiary": #7f7f7f,
  "hovered": #16bdca,
  "error": red,
);

$main-font: "Bevan";

$secondary-font: "Quattrocento";
