@import "./partials/base";
@import "./partials/_variables";
@import "./partials/_mixins";

main {
  @include center;
  padding: 1.5rem;
  flex-direction: column;

  #input {
    margin-bottom: 0.5rem;

    form {
      @include center;

      input {
        border: 1px solid transparent;
        font-family: $secondary-font;
        padding: 0.8rem 1rem;
        flex: 1 1 0%;
        border-radius: 0.3rem;
        background-color: map-get($map: $colors, $key: semi-light-bg);
        color: map-get($map: $colors, $key: font);
        font-size: 18px;
        margin-right: 5px;

        &:focus {
          @include border(font);
        }
      }

      button {
        font-family: $main-font !important;
        border-style: none;
        border-radius: 8px;
        height: auto;
        width: auto;
        margin: 0px 5px 0px 2px;
        padding: 10px;
        font-size: 16px;
        font-family: inherit;
        color: map-get($map: $colors, $key: semi-light-bg);
        border-radius: 8px;
        background-color: map-get($map: $colors, $key: main);

        &:hover {
          background-color: map-get($map: $colors, $key: hovered);
        }
      }
    }

    p {
      font-size: inherit;
      font-family: $secondary-font;

      button {
        font-size: inherit;
        font-family: $secondary-font;
        color: map-get($map: $colors, $key: main);
        background-color: inherit;
        border: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .display {
    @include center;
    border-radius: 1rem;
    padding: 1rem 0 2rem;
    flex-direction: column;
    min-width: 40rem;

    .image-div {
      @include center;
      // @include border;
      border-radius: 15px;
      padding: 10px;
      margin-bottom: 5px;
      display: flex;
      width: 200px;
      min-height: 200px;
      min-width: 200px;

      p {
        text-align: center;
      }

      #image {
        max-height: 190px;
        max-width: 190px;
        border-radius: 5%;
        overflow: hidden;
      }
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;

      tr {
        padding: 5px;
        min-width: 75px;
        text-align: center;

        td {
          padding: 0.3rem 2.5rem;
          font-family: $secondary-font;
          font-size: 14px;
          color: map-get($map: $colors, $key: font);
        }
      }
    }
  }
}

img {
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 190px;
  height: 190px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.b-solid {
  @include border(main, solid);
}
.b-dashed {
  @include border(main, dashed);
}

.bb-dashed {
  @include border-bottom(dashed);
}

.bb-solid {
  @include border-bottom(solid);
}

.error {
  @include border(error, dashed);
}

.bb-error {
  @include border-bottom(dashed, error);
}

.error-div {
  @extend .image-div;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  p {
    font-family: $secondary-font !important;
    font-size: 14px;
    color: map-get($map: $colors, $key: font);
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    text-decoration: none;
    border-style: none;
    border-radius: 8px;
    height: auto;
    width: auto;
    margin: 5px auto;
    color: map-get($map: $colors, $key: semi-light-bg);
    padding: 10px;
    font-size: 12px;
    font-family: $main-font;
    background-color: map-get($map: $colors, $key: error);
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}
